body{
    background-color: rgb(255, 138, 200);
}

h1{
    font-size: 60px;
    padding: 10px;
    color: brown;
}

.email-list {
    margin-top: 20px;
    padding: 10px 30px;
}

li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size:large;
    font-weight: bold;
    border: 2px solid rgba(255, 225, 0, 0.8);
    margin-top: 3px;
    background-color: rgb(8, 13, 59);

}

